<% @cart.orderables.each do |orderable|%>
  <% product = orderable.product%>

  <div  class="border border-primary", style = "width: 300px">
    <h5><%=link_to product.name, product%></h5>
    <h5 class="card-title"><%= product.name %></h5>
    <%if product.onSale%>
    <h5 class="card-title" style="color: green">
     $<%=product.price %> $<span style = "text-decoration: line-through"><%=product.basePrice%></span>
    <%else%>
    <h5 class="card-title"> $<%= product.price %>
    <% end %>
   </h5>
    <p ><%= product.description %></p>
    <div  style = "float: left; margin-left: 15px;">
    <%= form_with(url: cart_add_path) do |f|%>
      <%= f.hidden_field :id, value: product.id%>
      <%= f.number_field :quantity, value: orderable.quantity, min: 0, style: "width: 50px" %>
      <%= f.submit "Adjust", class: "btn btn-primary" %>
    <% end %>
    </div>

    <%= form_with(url: cart_remove_path) do |f|%>
      <%= f.hidden_field :id, value: orderable.id%>
      <div style = "margin-left: 150px">
      <%= f.submit "X", class: "btn btn-primary"%>
    <% end %>
    </div>
    <h3>
    $<%= orderable.total%>
    </h3>
</div>


<% end %>