<div class="container">
    <div class="py-5 text-center">
        <h2>Checkout</h2>
    </div>
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">3</span>
            </h4>

                <% if @cart.orderables.count > 0%>
                <%= render "cart/orderables"%>
                <br>
                <h1>Total: $<%= @cart.total %></h1>
                <%else%>
                <p>Cart is Empty</p>
                <% end %>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Billing address</h4>
            <%= form_with url: checkout_path, class: "needs-validation", html: {novalidate: ''} do |form|%>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <%= form.text_field :firstName, id: "firstName", class:"form-control" , placeholder: "", required: ""%>
                        <div class="invalid-feedback"> Valid first name is required. </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name <span class="text-muted">(Optional)</span></label>
                        <%= form.text_field :lastName, id: "lastName", class:"form-control" , placeholder: ""%>

                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                     <%= form.text_field :email, id: "email", class:"form-control" , placeholder: "you@example.com"%>
                    <div class="invalid-feedback"> Please enter a valid email address for shipping updates. </div>
                </div>
                <div class="mb-3">
                    <label for="address">Address</label>
                    <%= form.text_field :address, id: "address", class:"form-control" , placeholder: "", required: ""%>
                    <div class="invalid-feedback"> Please enter your shipping address. </div>
                </div>
                <div>
                    <div class="col-md-3 mb-3">
                        <label for="postal">Postal Code</label>
                        <%= form.text_field :postal, id: "postal", class:"form-control" , placeholder: "", required: ""%>
                        <div class="invalid-feedback"> Postal code required. </div>
                    </div>
                </div>
                <hr class="mb-4">
                <h4 class="mb-3">Payment</h4>
                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                        <label class="custom-control-label" for="credit">Credit card</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cc-name">Name on card</label>
                        <%= form.text_field :ccName, id: "ccName", class:"form-control" , placeholder: "", required: ""%>
                        <small class="text-muted">Full name as displayed on card</small>
                        <div class="invalid-feedback"> Name on card is required </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cc-number">Credit card number</label>
                        <%= form.text_field :cc, id: "cc", class:"form-control" , placeholder: "", required: ""%>
                        <div class="invalid-feedback"> Credit card number is required </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="cc-expiration">Expiration</label>
                        <%= form.text_field :expiration, id: "expiration", class:"form-control" , placeholder: "", required: ""%>
                        <small class="text-muted">(MM/YYYY)</small>
                        <div class="invalid-feedback"> Expiration date required </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cc-cvv">CVV</label>
                        <%= form.text_field :ccv, id: "cc-cvv", class:"form-control" , placeholder: "", required: ""%>
                        <div class="invalid-feedback"> Security code required </div>
                    </div>
                </div>
                <hr class="mb-4">
                <%= form.submit "Checkout", class: "btn btn-primary btn-lg btn-block" %>
            <% end %>
        </div>
    </div>
</div>

 <script>
(function () {
  'use strict'

  window.addEventListener('load', function () {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation')

    // Loop over them and prevent submission
    Array.prototype.filter.call(forms, function (form) {
      form.addEventListener('submit', function (event) {
        if (form.checkValidity() === false) {
          event.preventDefault()
          event.stopPropagation()
        }
        form.classList.add('was-validated')
      }, false)
    })
  }, false)
}())
</script>