<div id="<%= dom_id contact %>">
  <p>
    <%= contact.name %>
  </p>

  <p>
    <%= contact.address %>
  </p>

  <p>
    <%= contact.content %>
  </p>

  <p>
    <%= contact.email %>
  </p>

  <p>
    <%= contact.phone %>
  </p>

</div>
