


<div class="card" style="width: 16rem; margin: 3px;" id="<%= dom_id product %>">
  <div class="card-img-top">
  <%if product.image.id != nil%>
  <%=link_to image_tag(product.image), product%>
  <%else%>
  <%=link_to image_tag("123.png"), product%>
  <% end %>
  </div>
  <div class="card-body" >
    <h5 class="card-title"><%= product.name %></h5>
    <%if product.onSale%>
    <h5 class="card-title" style="color: green">
     $<%=product.price %> $<span style = "text-decoration: line-through"><%=product.basePrice%></span>
    <%else%>
    <h5 class="card-title"> $<%= product.price %>
    <% end %>
   </h5>
    <p class="card-text"><%= product.description %></p>
    <%= form_with(url: cart_add_path) do |f|%>
    <%= f.hidden_field :id, value: product.id%>
    <%= f.number_field :quantity, value: 0, min: 1, class: "w-25" %>
    <%= f.submit "Add to Cart", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

