<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

<%=link_to image_tag(product.image), product.image%>
<hr/>
<% product.pictures.each do |picture|%>
<%= link_to image_tag(picture), picture%>
<% end %>

  <p>
    <strong>Baseprice:</strong>
    <%= product.basePrice %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

</div>
