     <%if session[:accountId]
        @account = Account.find_by(id: session[:accountId])
        else
        @account = nil
      end%>


<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

<%if @account %>
<%= button_to "Logout",  logout_path, method: :delete%>
<%else%>
<%="Login"%>
<%end%>

<nav class="navbar bg-light">
  <form class="container-fluid">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">@</span>
      <%if @account %>
      <%= @account.name%>
         <%n = "Hello " + @account.name + "!"%>
        <% else
        n = 'Make an account to begin shopping!'
        %>
      <%end%>
      <input type="text" class="form-control" placeholder= "<%=n%>" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </form>
</nav>


    <%= yield %>
  </body>
</html>
