     <%if session[:accountId]
        @account = Account.find_by(id: session[:accountId])
        else
        @account = nil
      end%>

<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/products">The Model Man</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item  px-2">
        <a class="nav-link" href="/products">All Products</a>
      </li>
      <li class="nav-item  px-2">
        <a class="nav-link" href="/warhammer">Warhammer</a>
      </li>
      <li class="nav-item  px-2">
        <a class="nav-link" href="/dnd">Dungeons and Dragons</a>
      </li>
      <li class="nav-item  px-2">
        <a class="nav-link" href="/terrain">Gaming Terrain</a>
      </li>
      <li class="nav-item  px-2">
        <a class="nav-link" href="/supplies">Hobby Supplies</a>
      </li>
      <li class="nav-item  px-2">
        <a class="nav-link" href="/printing">3D Printing</a>
      </li>
      <li class="nav-item  px-2">
        <a class="nav-link" href="/new_items">New Items</a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link" href="/sale">On Sale</a>
      </li>
    </ul>
  </div>
</nav>
<div class = "m-3" style = "display:inline-block">
  <%if @account %>
              <%= button_to "Logout",  logout_path, method: :delete,  class: "btn btn-primary"%>
              <%else%>
               <%= link_to "Log In",  sign_in_path,  class: "btn btn-primary"%>
            <%end%>
</div>
<div class = "m-3" style = "display:inline-block; float:left">
            <%= render partial: "cart/cart" if @render_cart%>
            </div>

<div class = "m-3" style = "display:inline-block; float:left">
  <%if @account %>
              <%= button_to "Account",  logout_path, method: :delete,  class: "btn btn-primary"%>
            <%end%>
            </div>
  <%= yield %>
  </body>
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2023 The Model Man</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/about">About</a></li>
            <li class="list-inline-item"><a href="/contact">Contact</a></li>
        </ul>
    </footer>

</html>


