<div id="<%= dom_id account %>">
  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= account.address %>
  </p>

  <p>
    <strong>Postalcode:</strong>
    <%= account.postalCode %>
  </p>

  <p>
    <strong>Creditcard:</strong>
    <%= account.creditCard %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= account.address %>
  </p>

  <p>
    <strong>Isadmin:</strong>
    <%= account.isAdmin %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= account.password %>
  </p>

</div>
